<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vecalc</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    </script>
    <script type="text/javascript">
        $(function() {
            $("a#process_input").bind("click", function() {
                $.getJSON("/_process", {
                    g_k: $('input[name="g_k"]').val(),
                    q_k: $('input[name="q_k"]').val(),
                    kat: $('select[name="kat"]').val(),
                    l: $('input[name="l"]').val(),
                    b: $('input[name="b"]').val(),
                    h: $('input[name="h"]').val(),
                    s: $('input[name="s"]').is(':checked'),
                    n_1: $('input[name="n_1"]').val(),
                    n_2: $('input[name="n_2"]').val(),
                    n_3: $('input[name="n_3"]').val(),
                    fi_1: $('input[name="fi_1"]').val(),
                    fi_2: $('input[name="fi_2"]').val(),
                    fi_3: $('input[name="fi_3"]').val(),
                    fi_r: $('input[name="fi_r"]').val(),
                }, function(data) {
                    $("#result").html(data.result);
                });
                return false;
            });
        });
    </script>
</head>
<body>
    <h3>Kalkulator stropów Vector według Eurokodów</h3><br>
    <h6>Copyright (c) 2020 <a href="mailto:prm.kowalski@gmail.com">Paweł Kowalski</a>
    <a href="https://stropymalro.pl/">(Stropy Małro)</a></h6>
    <form>
        <p><h4>Obciążenie charakterystyczne:</h4><br>
        - stałe <input type="number" step="0.1" name="g_k" value="2.5"> kN/m&#178;<br>
        - zmienne <input type="number" step="0.1" name="q_k" value="2.0"> kN/m&#178;<br>
        - <select name="kat">
            <option value="A">Kategoria A: powierzchnie mieszkalne</option>
            <option value="B">Kategoria B: powierzchnie biurowe</option>
            <option value="C">Kategoria C: miejsca zebrań</option>
            <option value="D">Kategoria D: powierzchnie handlowe</option>
            <option value="E">Kategoria E: powierzchnie magazynowe</option>
            <option value="F">Kategoria F: powierzchnie ruchu pojazdów ≤ 30 kN</option>
            <option value="G">Kategoria G: powierzchnie ruchu pojazdów ≤ 160 kN</option>
            <option value="H">Kategoria H: dachy</option>
            <option value="S1">Śnieg: miejscowości położone > 1000 m n.p.m.</option>
            <option value="S2">Śnieg: miejscowości położone ≤ 1000 m n.p.m.</option>
        </select>
        <p><h4>Geometria stropu:</h4><br>
        - rozpiętość w świetle
        <input type="number" step="10" name="l" value="280" min="80"> cm<br>
        - szerokość płyty
        <input type="number" step="20" name="b" value="60" min="20" max="120"> cm<br>
        - grubość całkowita
        <input type="number" name="h" value="15" min="15" max="24"> cm<br>
        - <input type="checkbox" id="s" name="s">
        <label for="s">wkłady styropianowe</label><br>
        <p><h4>Zbrojenie rozciągane:</h4><br>
        - <input type="number" step="2" name="n_1" value="2" min="0" max="8">
        # <input type="number" step="2" name="fi_1" value="8" min="6" max="14">
        <small>na całej długości w płycie</small><br>
        - <input type="number" step="2" name="n_2" value="0" min="0" max="4">
        # <input type="number" step="2" name="fi_2" value="8" min="6" max="14">
        <small>dospawane do kratownicy</small><br>
        - <input type="number" step="2" name="n_3" value="0" min="0" max="4">
        # <input type="number" step="2" name="fi_3" value="8" min="6" max="14">
        <small>dozbrojenie na płycie</small>
        <p><h4>Zbrojenie rozdzielcze:</h4><br>
        # <input type="number" name="fi_r" value="6" min="4" max="8"> mm
        <p><a href="#" id="process_input"><button>Oblicz</button></a></p>
    </form>
    <p id="result"></p>
</body>
</html>
